<div class="container mt-4">
    <h5>Análisis Gráfico</h5>
    <hr/>
    <form class="mt-2" *ngIf="selectForm" [formGroup]="selectForm">
        <select class="form-select" aria-label="Default select example" formControlName="select" (ngModelChange)="updateChart()">
            <option hidden>Selecciona un atributo</option>
            <option value="tipo_soporte">Tipo Soporte</option>
            <option value="tipo_luminaria">Tipo Luminaria</option>
            <option value="tipo_lampara">Tipo Lampara</option>
        </select>
    </form>

    <div class="mt-5" *ngIf="data">
        <highcharts-chart 
            [Highcharts]="Highcharts"

            [constructorType]="chartConstructor"
            [options]="chartOptions"
            [(update)]="update"
            style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
    </div>
</div>
